# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.dist-info/
build/
develop-eggs/
eggs/
lib/
lib64/
parts/
sdist/
var/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# pytest
.cache
pytestdebug.log

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code
.vscode/

# PyCharm
.idea/

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3

# Static files
/staticfiles
/media

# Environment variables
.env